@model MusicAppRedux.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h3>Album Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Model.Title
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Model.Artist.Name
        </dd>
        <dt>
           Biographical Information
        </dt>
        <dd>
            @Model.Artist.Bio
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Model.Genre.Name
        </dd>
    </dl>
</div>
<form asp-action="Details" method="post">
    <div class="form-group">
        <label>Enter Your Rating:</label>
        <select asp-for="AvgRate" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-md col-md-10">
            <input type="submit" value="Submit" asp-route-id="@Model.AlbumID" class="btn btn-default" />
        </div>
    </div>
</form> 
<div class = "col-md col-md-10">

    <a asp-action="Edit" asp-route-id="@Model.AlbumID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>